#logo-container{
    margin: 2rem 0rem 0rem 2rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

#logo span {
    font-size: 1.5rem;
    line-height: 1.2;
    color: #FFFFFF;
}

#logo img {
    width: 30px; 
    height: auto;
}

#about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#team-section {
    text-align: center;
    
}

#team-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#team-section p {
    font-size: 1rem;
    line-height: 1.5;
    width: 70%;
    margin: 0 auto;
    color: #CFCFCF; 
    text-align: center;
    
}


#cards-container-about {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background: transparent;
    border: none;
    gap: 50px;
    margin: 3rem 0rem 0rem 0rem;
}

.card-about {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    width: 300px;
    height: 400px;
    overflow: hidden;
    background-color: #0f0f0f;
}

.card-image-about {
    display: block;
    height: 200px; 
    width: 200px; 
    border-radius: 50%;
    box-shadow: 0px 5px 12px rgba(248, 248, 255, 0.25); 
    object-fit: cover;
}

.card-content-about, h3, p {
    padding: 8px;
    text-align: center;
}

.card-content-about h3 {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #FFFFFF; 
}

.card-content-about p {
    font-size: 0.9rem;
    color: #ffffff8f; 
    text-align: justify;
}
